<h1>PIRATES!</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h2>Pirate Weight: <%= @pirate.weight %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>


<h2>FIRST SHIP!</h2>
<h3>First Ship Name: <%= @ship_1.name %></h3>
<h3>First Ship Type: <%= @ship_1.type %></h3>
<h3>First Ship Booty: <%= @ship_1.booty %></h3>


<h2>SECOND SHIP!</h2>
<h3>Second Ship Name: <%= @ship_2.name %></h3>
<h3>Second Ship Type: <%= @ship_2.type %></h3>
<h3>Second Ship Booty: <%= @ship_2.booty %></h3>
