<h1>PIRATES!</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h2>Pirate Weight: <%= @pirate.weight %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>


<h2>Display your first ship here</h2>
<h3>First Ship Name: <%= @ship_1.name %></h3>
<h3>First Ship Type: <%= @ship_1.type %></h3>


<h2>Display your second ship here</h2>
